.bug-card {
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 100%;
}

.bug-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bug-card .bug-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bug-card:hover {
  background-color: #f2f2f2;
}

.project-tab {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.project-tab:hover {
  background-color: #bfbfbf !important;
}

.bug-status {
  text-transform: capitalize;
}

.bug-severity {
  text-transform: capitalize;
}

.bug-border-critical {
  border-left: 5px solid var(--danger);
}

.bug-border-high {
  border-left: 5px solid var(--warning);
}

.bug-border-medium {
  border-left: 5px solid var(--info);
}

.bug-border-low {
  border-left: 5px solid var(--primary);
}

.bug-collapse {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.bug-collapse:hover {
  background-color: #d9d9d9;
}

.tab-content {
  height: 335px;
  overflow: auto;
  overflow-x: hidden;
}